doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/style.css')
#app
  .card
    .front
      .image
        .overlay
        i.fas.fa-eye
      .details
        h2 Equilibrium  #3429
        h4 Our Equilibrium collection promotes balance and calm
      .wrap
        span
          i.fab.fa-ethereum  
          span.ic 0.041ETH
        span
          i.fas.fa-clock  
          span.ic 3 days left  
    .back
      .profile
      span
        | Creation of
        span.name Anish
script(src='/script.js')
