doctype html
html(lang='en')
    head 
        title Frontend Mentor | NFT preview card component
    link(rel='stylesheet', href='/style.css', type='text/css' )
    body
        .frame
            .top
                .overlay
                    img(src='../images/icon-view.svg', alt="alt" class='eth')
            .bottom
              p(class='head') Equilibrium #3429
              p(class='light') Our Equilibrium collection promotes balance and calm.
              .wrapper
                .wrap-one
                    .logo-1
                        img(src='../images/icon-ethereum.svg', alt="alt" class='eth')
                    .i-t-one 0.041 ETH
                .wrap-two
                    .logo-2 
                        img(src='../images/icon-clock.svg', alt="alt" class='clock')
                    .i-t-two 3 days left
              hr 
            .end
                img(src='../images/image-avatar.png', alt="alt" class='profile')
                .text-wrap
                    .creation  Creation of
                    .author Jules Wyvern
 

                
